@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  text-shadow: #ededed 0px 0px 5px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--foreground);
}